@font-face{
	font-family: KyivTypeSans;
	font-display: swap;
	src: url("../fonts/KyivTypeSans-VarGX.woff2") format("woff2"), url("../fonts/KyivTypeSans-VarGX.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
