$headerFont: BarlowBold;
$textFont: BarlowRegular;
$fontSizeTextContent: 1.3vw;
$fontSizeHeaderContent: 2.2vw;




@import "media";
@import "fonts";
@import "nullstyle";
@import "about";


body{

    background: #875f91;
    display: flex;
    flex-direction: column;
    align-items: center;
    p, a, label{
       font-family: $textFont;
    }
    h1, h2, h3, h4{
        font-family: $headerFont;
    }

}
.header__menu-panel{
    position: fixed;
    width: 33vw;
    height: 50vh;
    right: 0;
    bottom: 150vh;
    z-index: 4;
    transition: all 0.4s;
    background: rgba(129, 128, 128, 0.5);
    .social__Media{
        display: flex;
        gap: 2.6vw;
        margin-top: 5%;
        padding-top: 1.38vh;
        margin-bottom: 1.85vh;
        padding-left: 27%;
        padding-bottom: 0.9vh;
   
        .socialMedia-Instagram{
            width: 1.57vw;
            height: 2.77vh;
         
       
        }
        .socialMedia-Instagram:hover{
            position: relative;
            bottom: 5px;
            right: 1px;
            fill: red;
        }
        .socialMedia-Telegram{
            width: 1.57vw;
            height: 2.77vh;
        }
        .socialMedia-Telegram:hover{
            position: relative;
            bottom: 5px;
            right: 1px;
            fill: rgb(0, 110, 255);
           
        }
        .socialMedia-Facebook{
            cursor: pointer;
            width: 1.57vw;
            height: 2.77vh;
        }
        .socialMedia-Facebook:hover{
            position: relative;
            bottom: 5px;
            right: 1px;
            fill: rgb(43, 0, 201);
           
        }
        .socialMedia-Tiktok{
            width: 1.77vw;
            height: 2.77vh;
        }
        .socialMedia-Tiktok:hover{
            position: relative;
            bottom: 5px;
            right: 1px;
            fill: purple;
           
        }

    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.8vh;
        margin-top: 10vh;
    }
    li{
        color: black;
        text-shadow: 0 0 10px white;
        font-size: 2vw;
        text-align: center;
        margin-right: 1vw;
        gap: 1vw;
        width: 100%;
        height: 6vh;
        transition: all 0.3s;
        cursor: pointer;
    }
    li:hover{
        position: relative;
        bottom: 5px;
        right: 2px;
        transition: all 0.3s;
        color: white;
        // background: rgba(209, 135, 170, 0.8);
    }

   
}
.menu__open{
    bottom: 50vh;

}

header{
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 70.6vw;
    display: flex;
    justify-content: center;
    height: 9.2vh;
    z-index: 5;

    .header__wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 6;
        .header__menu{
            position: fixed;
            top: 0;
            right: 15.5vw;
            margin-top: 3.3vh;
            display: flex;
            cursor: pointer;
            background: #d187aa;
            height: 4vh;
            width: 100%;
            max-width: 5.2vw;
            align-items: center;
            justify-content: space-around;
            z-index: 6;
            font-family: BarlowRegular;
            
            p{
                font-size: 0.8vw;
                color: white;
                text-transform: uppercase;
                font-family: $textFont;
            }

          

        }
            
        .header__menu:hover{
            .header__burger{
                margin-top: 0.7vh;
                padding-top: 0.7vh;
            }
            .header__burger::before{
                left: 0.5vh;
                margin-bottom: 0.7vh;
            }
        }
    

        .header__burger{
            position: relative;
            bottom: 0.92vh;
            margin-top: 0.92vh;
            display: block;
            // background: #000;
            height: 1px;
            width: 1vw;
            border-top: 2px solid white;
            padding-top: 0.46vh;
            z-index: 4;
        }
        .header__burger::before{
            position: relative;
            left: 0.16vw;
            right: 0;
            display: block;
            content: "";
            border-bottom: 2px solid white;
            height: 1px;
            width: 1vw;
            margin-bottom: 0.46vh;
            transition: all 0.3s;
        }
        .header__burger::after{
            position: relative;
            display: block;
            content: "";
            border-top: 2px solid white;
            transition: all 0.3s;
            
        }
        .close{
            display: none;
        }
        .open{
            display: none;
        }
        .btn__active{
           display: block ; 
           font-size: 1vw;
        }


     
        .burger__open{
            position: relative;
            bottom: 0.92vh;
            left: 0.1vw;
            margin-top: 0.92vh;
            display: block;
            // background: #000;
            height: 1px;
            width: 1vw;
            border: none;
            padding-top: 0.46vh;
            z-index: 4;
            
        }
        .burger__open::before{
            position: relative;
            right: 0.4vw;
            display: block;
            content: "";
            border-bottom: 2px solid white;
            height: 1px;
            width: 1.57vw ;
            margin-bottom: 0.36vh;
            transition: all 0.3s;
            transform: rotate(45deg)
        }
        .burger__open::after{
            position: relative;
            display: block;
            content: "";
            border-top: 2px solid white;
            transition: all 0.3s;
            transform: rotate(-45deg);
            bottom: 0.62vh ;
            right: 0.4vw;
            width: 1.57vw ;
            
        }
           

    
    }


    .language{
        position: fixed;
        right: 22vw;
        top: 3.3vh;
        height: 4vh;
        width: 3vw;
        background: #d187aa;
        font-size: 0.9vw;
        color: white;
        font-family: $textFont;
        z-index: 5;
    }



}


.content{
    position: relative;
    right: 20%;
    bottom: -1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 600vh;
    background: #d187aa;
    z-index: 5;
    top: 4vh;
    clip-path: polygon(50% 0%, 100% 0, 99% 4%, 100% 29%, 99% 52%, 100% 91%, 98% 100%, 0 100%, 0% 35%, 0 0);
}

.spacer{
    display: block;
    position: relative;
    width: 100%;
    min-height: 91vh;
    // z-index: 4;
    // margin-top: 100vh;
}

.carousel__slider {
    position: fixed;
    bottom: 0;
    right: 3.1vw;
    clip-path: polygon(90% 0, 100% 89%, 79% 97%, 80% 100%, 30% 100%, 0 100%, 1% 89%, 0 50%, 1% 24%, 0 0);
    width: 85vw;
    height: 86vh;
    background: #000;
    z-index: 2;
    transition: all 0.1;
}
.slider__item {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: rgb(8, 4, 4);
    transition: all 1s ease ;
    img{
        width: 100%;
        height: 100%;
    }
    p{
        position: absolute;
    }
    a{
        position: absolute;
        display: block;
        background: rgb(107, 30, 30);
        color: rgb(0, 0, 0);
        width: 200px;
        height: 200px;
        position: relative;
        left: 50%;
        top: 70%;
    }
    h2{
        position: absolute;
    }
    .third-slide{
        position: absolute;
    }
   
}
.opacityZero{
    opacity: 0;
}



.aside::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8) url("../files/loading.gif") center no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}
.aside._sending::after{
    opacity: 1;
    visibility: visible;
}

.aside{
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    padding-top: 44vh;
    padding-left: 1vw;
    top: 0;
    width: 33.4vw;
    height: 100vh;
    background: url("../img/asideBG.jpg") no-repeat ;
    background-size: 135%;
    font-size: 1vw;
    z-index: -1;
    opacity: 0;
    transition: all 0.8s;
    left: 100%;
    // bottom: 10%;


 

    form{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1.2vw;
        margin-left: 2%;
        gap: 1vh;

        ._req{
          
        }
      


        .form__title{
            margin-bottom: 10px;
            font-size: 2vw;
            color: black;
            text-shadow: 0 0 6px white;
            width: 60%;
            padding: 0;
            margin-left: 4.5%;
        }
        .form__item{
            display: flex;
            justify-content: space-between;
            width: 100%;
              

                .about{
                    width: 300px;
                    max-height:140px;
                    font-size: 1.2vw;
                    border: 1px solid black ; 
                    box-shadow: 2px 3px 10px rgb(15, 14, 14);  
                    background: rgba(255, 255, 255, 0.95);
                    font-size: 15px;
                }
                label{
                    display: flex;
                    justify-content: space-between;
                    margin: 10px 0;
                    color: rgb(0, 0, 0);
                    text-shadow: 0 0 20px white;
                
                }
                input{
                    width: 15.7vw;
                    height: 2.7vh;
                    font-size: 1vw;
                    border: 1px solid black ; 
                    box-shadow: 2px 3px 10px rgb(15, 14, 14);  
                    background: rgba(255, 255, 255, 0.95);
                    text-align: start;
                    margin: 0;
                    padding: 5px;
                   
                
                }
                .form__input._error {
                    box-shadow: 0 0 15px red;
                }
                .checkbox__input._error {
                    box-shadow: 0 0 15px red;
                }

                textarea:focus, input:focus{
                    outline: 2px solid #d187aa;
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
                }

              
                input[type=number] {
                -moz-appearance: textfield;
                }

                .checkbox{
                    display: flex;
                    align-items: center;
                    gap: 1vw;
                    cursor: pointer;
                    .checkbox__input{
                        width: 2vw;
                        cursor: pointer;
                    }
                    .checkbox__input:focus{
                        outline: none;
                        border: none;
                    }
                }
                .form__button{
                    position: absolute;
                    width: 8.9vw;
                    height: 3.7vh;
                    top: 95%;
                    left: 40%;
                    border: 1px solid black ; 
                    box-shadow: 2px 3px 10px rgb(15, 14, 14);  
                    background: rgba(255, 255, 255, 0.75);
                    font-size: 1.1vw;
                    font-family: $headerFont;
                }
                .form__button:hover{
                   background: rgba(209, 135, 170, 0.7);
                   bottom: 2.5%;
                   left: 39.5%;
                }
                .form__button:active{
                    background: rgba(209, 135, 170, 0.7);
                    bottom: 2%;
                    left: 40%;
                 }
             
              
            }   
        }
        textarea.about{
            min-height: 5.4vh;
            max-width: 15.7vw ;
            resize: vertical;
            }

}
.aside__active{
    opacity: 1;
    z-index: 3;
    left: 66.7%;
   
}
.display__mode{
   
}


.sliderHeight{
  width: 100%;


}
.aboutUs__container{
         height: 70vh;
    h2{
        text-align: center;
        font-size: $fontSizeHeaderContent;
        width: 50%;
        margin-top: 5vh;
        margin-bottom: 5vh;

    }

    .aboutUs__content{
        display: flex;
        position: relative;
        flex-direction: column;
        width: 60vw;
        height: 75%;
        flex-direction: row;
    
        // #imgRightAbout{
        //     display: none;
        //     position: absolute;
        //     right: 2vw;
        //     top: 2vh;
        //     max-width: 26vw;
        //     max-height: 46vh ;
        // }

        .aboutUs__imgContent{
            position: relative;
            display: flex;
            width: 100%;
            height: 95%;
            justify-content: space-around;
            top: 0;
            left: 0;
            #imgLeftAbout{
                position: relative;
                left: 0;
                top: 0;
                max-width: 50%;
                max-height: 100% ;
            }
            p{
                position: relative;
                font-size: $fontSizeTextContent;
                width: 45%;
                height: 100%;
                left: 0;
                top: 0;
                line-height: 2.1vw;
           
         
            }
        
        }

       
    }

    a{
        position: relative;
        left: 15%;
        font-size: $fontSizeTextContent;

    }

}




.map__container{
    position: relative;

    width: 100%;
    height: 65vh;
    z-index: 5;
    // background: #000;
    // bottom: 20%;
    margin-top: 10vh;
    .location__headerText{
        position: absolute;
        right: 3vw;
        top: 3vh;
        font-size: $fontSizeHeaderContent;
    }
    .location__street{
        position: relative;
        top:12vh;
        left: 4vw;
        font-size: $fontSizeTextContent;
        width: 50%;
    }

}

#map{
    position: relative;
    top: 20%;
    left: 5%;
    width: 90%;
    height: 85%;
    z-index: 10;
}



.logo{
    position: relative;
    bottom: 0;
    width: 8.9vw;
    height: 12vh;
    transition: all 0.4s;

}
.logoHide{
    opacity: 0;
    position: relative;
    bottom: 20vh;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 12.6%;
    display: flex;
    height: 50vh;
    width: 58.8vw;
    background: rgb(196, 153, 196);
    z-index: 4;
    top: 3vh;
    h2{
        font-size: $fontSizeHeaderContent;
        margin-top: 1vw;
    }
    .Contacts{
        display: flex;
        flex-direction: column;
        align-items: center;
       
        h2{
            font-size: $fontSizeHeaderContent;
        }
        .contacts__info{
            display: flex;
            margin-top: 1.85vh;
            gap: 3.66vw;
            p{
                font-size: $fontSizeTextContent;
            }
        }
     
    }
    .social__Media{
        display: flex;
        gap: 4.1vw;
        margin: 1.8vh;
        .socialMedia-Instagram{
            width: 2.5vw;
            height: 5vh;
       
       
        }
        .socialMedia-Instagram:hover{
            position: relative;
            bottom: 5px;
            right: 1px;
            fill: red;
        }
        .socialMedia-Telegram{
            width: 2.5vw;
            height: 5vh;
       
        }
        .socialMedia-Telegram:hover{
            position: relative;
            bottom: 5px;
            right: 1px;
            fill: rgb(0, 110, 255);
           
        }
        .socialMedia-Facebook{
            cursor: pointer;
            width: 2.5vw;
            height: 5vh;
       
        }
        .socialMedia-Facebook:hover{
            position: relative;
            bottom: 5px;
            right: 1px;
            fill: rgb(43, 0, 201);
           
        }
        .socialMedia-Tiktok{
            width: 2.5vw;
            height: 5vh;
       
        }
        .socialMedia-Tiktok:hover{
            position: relative;
            bottom: 5px;
            right: 1px;
            fill: purple;
           
        }

    }
}


.timetable__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    position: relative;
    width: 100%;
    height: 80vh;
   
    z-index: 7;
    .timetable__body{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1%;
     
        width: 100%;
        height: 100%;

        // background: pink;
        .timetable__item{
            margin-top: 0%;
            width: 48%;
            height: 70%;
            background: rgba($color: rgb(165, 164, 164), $alpha: 0.7);
            
        }
        .timetable__item:last-child{
            margin-top: 19%
        }
    }
}

@include view1600;


@include view1440;
@include view1024;
@include view867;
// @include view776;
@include view485;
@include view380;
@include view330;