@import "fonts";
@import "nullstyle";

body{
    background: rgb(120, 49, 202);
    display: flex;
    flex-direction: column;
    align-items: center;

}
header{
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 1350px;
    display: flex;
    justify-content: center;
    height: 100px;

    .header__wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .logo {
            text-align: center;
            display: flex;
            flex-direction: column;
            font-size: 24px;
            font-family: KyivTypeSans;
            color: white;
            max-width: 350px;
            margin-left: 40px;
           
            
            #logoImg{
                margin-left: 10px;
                width: 120px;
        
            }
            h1{ 
                position: relative;
                bottom: 20px;
            }
            p{
                position: relative;
                bottom: 20px;
                max-width: 100%;
            }
        }
        .header__menu{
            margin-top: 25px;
            display: flex;
        
            background: rgb(219, 112, 70);
            height: 40px;
            width: 100%;
            max-width: 100px;
            align-items: center;
            justify-content: space-around;
            p{
                font-size: 15px;
                color: white;
            }
        }
        .header__burger{
            position: relative;
            bottom: 10px;
            margin-top: 10px;
            display: block;
            // background: #000;
            height: 1px;
            width: 20px;
            border-top: 2px solid white;
            padding-top: 5px;
        }
        .header__burger::before{
            position: relative;
            left: 3px;
            display: block;
            content: "";
            border-bottom: 2px solid white;
            height: 1px;
            width: 20px;
            margin-bottom: 5px;
        }
        .header__burger::after{
            display: block;
            content: "";
            border-top: 2px solid white;
        
            
        }
    }
 
}
.carousel{
    position: fixed;
    bottom: 0px;
    right: 60px;
    clip-path: polygon(88% 0, 100% 89%, 76% 94%, 79% 100%, 35% 100%, 0 100%, 1% 89%, 0 51%, 1% 26%, 0 0);
    width: 80vw;
    height: 90vh;
    background: #000;
    // z-index: 1;
}

.content{
    position: relative;
    right: 20%;
    display: flex;
    width: 60vw;
    height: 3000px;
    background: red;
    z-index: 5;
}

.spacer{
    display: block;
    position: relative;
    width: 100%;
    min-height: 90vh;
    // z-index: 4;
    // margin-top: 100vh;
}

.carousel__wrapper{
    // display: block;
    // position: relative;
    // width: 100%;
    // min-height: 100vh;
    // z-index: 4;
}


.carousel__slider {
    position: fixed;
    bottom: 0px;
    right: 60px;
    clip-path: polygon(90% 0, 100% 89%, 79% 97%, 80% 100%, 30% 100%, 0 100%, 1% 89%, 0 50%, 1% 24%, 0 0);
    width: 85vw;
    height: 90vh;
    background: #000;
    z-index: 2;
}
.slider__item {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    font-size: 20px;
    color: rgb(8, 4, 4);
    transition: all 1s ease ;
    img{
        width: 100%;
        height: 100%;
    }
    p{
        position: absolute;
    }
    a{
        position: absolute;
        display: block;
        background: rgb(107, 30, 30);
        color: rgb(0, 0, 0);
        width: 200px;
        height: 200px;
        position: relative;
        left: 50%;
        top: 70%;
    }
    h2{
        position: absolute;
    }
    .third-slide{
        position: absolute;
    }
   
}
.opacityZero{
    opacity: 0;
}